<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
    <% include header.ejs %>
</head>
<body>
<% include navigator.ejs %>
<div id="container" class="container">
  <div class="alert alert-warning">
      <h2 style="text-align: center;padding: 50px"><%= message %></h2>
  </div>
    <% include footer.ejs %>
</div>
</body>
</html>